version: "3.9"

services:
  web:
    build: .
    command: gunicorn cricrecords.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: crickstats_db
      POSTGRES_USER: crickuser
      POSTGRES_PASSWORD: StrongPass123!

volumes:
  postgres_data:
  static_volume:
  media_volume:
